{% extends "base/base.html" %}

{% load i18n %}

{% block body %}

    <div class="antialiased">
        <div class="page">
            <div class="content">
                <div class="container">
                    <div class="container my-auto">
                        <div class="empty">
                            <p class="empty-title">{% trans "Passwort reset sent." %}</p>
                            <p class="empty-subtitle text-muted">
                                {% trans "We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}
                                {% trans "If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder." %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
