{% extends "base/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block body %}
{% if validlink %}

    <div class="page page-center">

        <div class="container container-tight py-5">

            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">{% trans "Reset passord" %}</h1>
                </div>
                <div class="card-body">{% crispy form form.helper %}</div>
                </div>
            </div>
</div>
{% else %}
<div class="container my-auto">
    <div class="empty">
        <p class="empty-title">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        <div class="empty-action">
            <a href="{% url "password_reset" %}" class="btn btn-danger btn-4">{% trans "Reset password" %}</a>
        </div>
    </div>
</div>
{% endif %}

{% endblock body %}
