{% extends "base/base.html" %}

{% load i18n %}

{% block body %}

    <div class="antialiased">
        <div class="page">
            <div class="content">
                <div class="container my-auto">
                    <div class="empty">
                        <p class="empty-title">{% trans "Your password was changed successfully." %}</p>
                        <div class="empty-action">
                            <a href="{% url "login" %}" class="btn btn-primary btn-4">{% trans "Login now" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
