{% extends "base/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block body %}
    <br>
    <div class="page page-center">
        <div class="container container-tight py-5">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">{% trans "Change Password" %}</h1>
                </div>
                <div class="card-body">{% crispy form form.helper %}</div>
            </div>
        </div>
    </div>
{% endblock body %}
