{% load i18n %}

<div class="empty">

    {% block empty_table %}
        <p class="empty-tile">

            {% block empty_title %}
                {% trans "There is nothing to show here." %}
            {% endblock empty_title %}

        </p>
        <p class="empty-subtitle text-secondary">

            {% block empty_subtitle %}
                {% trans "Try adjusting the filters or create an entry." %}
            {% endblock empty_subtitle %}

        </p>
        <div class="empty-action">

            {% block empty_action %}
            {% endblock empty_action %}

        </div>
    {% endblock empty_table %}

</div>
