{% extends "generic/object_detail.html" %}
{% load i18n %}

{% block page-pretitle %}
    {% trans "Delete" %}
{% endblock page-pretitle %}

{% block specific_content %}
<div class="card">
    <div class="alert alert-important alert-danger mb-0">

        <form method="post">
            {% csrf_token %}
            <p>
                {% trans "You are about to delete" %}
                <br>
                <strong>{{ object }}</strong>
                <br>
                {% trans "Are you sure you want to do this" %}?
            </p>
            <a href="{{ object.get_absolute_url }}" class="btn btn-light">{% trans "Cancel" %}</a>
            <input class="btn btn-danger" role="button" type="submit" value="Confirm">
        </form>
    </div>
</div>
{% endblock specific_content %}
