{% extends "generic/object_detail.html" %}

{% block page-pretitle %}
    Playergroup Detail
{% endblock page-pretitle %}

{% block object_buttons %}
    <a href="{% url "misterx:playergroup-edit" object.id %}" class="btn btn-warning">Edit</a>
    <a href="{% url "misterx:playergroup-delete" object.id %}" class="btn btn-danger">Delete</a>
{% endblock object_buttons %}

{% block specific_content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <strong>Playergroup information</strong>
            </h3>
        </div>
        <div class="card-body">
            <div class="datagrid">
                <div class="datagrid-item">
                    <div class="datagrid-title">Name</div>
                    <div class="datagrid-content">{{ object.name }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Players</div>
                    <div class="datagrid-content">{{ object.user_set.all |join:"," }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock specific_content %}
