{% extends "generic/object_detail.html" %}

{% load i18n %}

{% block page-pretitle %}
    {% trans "Player Detail" %}
{% endblock page-pretitle %}

{% block object_buttons %}
    <a href="{% url "misterx:player-edit" object.id %}" class="btn btn-warning">{% trans "Edit" %}</a>
    <a href="{% url "misterx:player-delete" object.id %}" class="btn btn-danger">{% trans "Delete" %}</a>
{% endblock object_buttons %}

{% block specific_content %}
    <div class="card mb-4">
        <div class="card-header">
            <h2 class="card-title">
                <strong>{% trans "Player information" %}</strong>
            </h2>
        </div>
        <div class="card-body">
            <div class="datagrid">
                <div class="datagrid-item">
                    <div class="datagrid-title">{% trans "Username" %}</div>
                    <div class="datagrid-content">{{ object.username }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">{% trans "First Name" %}</div>
                    <div class="datagrid-content">{{ object.first_name }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">{% trans "Last Name" %}</div>
                    <div class="datagrid-content">{{ object.last_name }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">{% trans "Active" %}</div>
                    <div class="datagrid-content">{{ object.is_active | yesno }}</div>
                </div>
            </div>
        </div>
    </div>

    {% trans "No Groups assigned to the player yet." as empty_title %}
    {% trans "Assign Groups by editing this player." as empty_subtitle %}
    {% trans "Groups" as table_heading %}
    {% include "tables/table_card.html" with table=tables.0 filter=filters.0 id_filter_modal="id_filter_groups" %}

    {% trans "This player doesn't participate in any games." as empty_title %}
    {% trans "Assign one of the groups above to a game to add this player." as empty_subtitle %}
    {% trans "Games" as table_heading %}
    {% include "tables/table_card.html" with table=tables.1 filter=filters.1 id_filter_modal="id_filter_games" %}

{% endblock specific_content %}
