{% extends "generic/object_detail.html" %}

{% load i18n %}
{% load utilities_media %}
{% load crispy_forms_tags %}

{% block page-title %}
    {% trans "Submission Approval" %}
{% endblock page-title %}

{% block page-pretitle %}
{% endblock page-pretitle %}

{% block specific_content %}
    <div class="card mb-4">
        <div class="card-body">
            <div class="datagrid">
                <div class="datagrid-item">
                    <div class="datagrid-title">{% trans "Group" %}</div>
                    <div class="datagrid-content">{{ object.group }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">{% trans "Task" %}</div>
                    <div class="datagrid-content">{{ object.task }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">{% trans "Submission Time" %}</div>
                    <div class="datagrid-content">{{ object.time | timesince }} ago</div>
                </div>
            </div>
            <hr />
            {% crispy form form.helper %}
        </div>
    </div>

    {% if object.explanation %}
        <div class="card mb-4">
            <div class="card-header">
                <h3 class="card-title">
                    <strong>{% trans "Explanation" %}</strong>
                </h3>
            </div>
            <div class="card-body">{{ object.explanation }}</div>
        </div>
    {% endif %}

    {% if object.feedback %}
        <div class="card mb-4">
            <div class="card-header">
                <h3 class="card-title">
                    <strong>{% trans "Feedback" %}</strong>
                </h3>
            </div>
            <div class="card-body">{{ object.feedback }}</div>
        </div>
    {% endif %}

    {% if object.proofs.count %}
        <h2>Proofs</h2>
        <div class="row row-cards">
            {% for proof in object.proofs.all %}
                {% main_mime_type proof.file as mime_type %}

                {% if mime_type == "image" %}
                    <div class="modal modal-blur fade" id="id_picture_modal_{{ proof.pk }}">
                        <div class="modal-dialog modal-full-width">
                            <div class="modal-content">
                                <img height="auto"
                                     width="auto"
                                     src="{{ proof.file.url }}"
                                     alt="Proof for this submission">
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="col-sm-6 col-lg-4">
                    <div class="card mb-4">
                        {% if mime_type == "image" %}
                            <img class="card-img-top card-img-bottom"
                                 height="auto"
                                 width="auto"
                                 src="{{ proof.file.url }}"
                                 data-bs-toggle="modal"
                                 data-bs-target="#id_picture_modal_{{ proof.pk }}"
                                 alt="Proof for this submission">
                        {% elif mime_type == "video" %}
                            <video src="{{ proof.file.url }}" class="card-img-top card-img-bottom" controls>
                            </video>
                        {% else %}
                            {% trans "Unsupported file type" %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% trans "This group has only submitted this task once." as empty_title %}
    {% trans "If you didn't accept it, wait for the group to submit it again." as empty_subtitle %}
    {% trans "Other Submissions by this group" as table_heading %}
    {% include "tables/table_card.html" with table=tables.0 filter=filters.0 id_filter_modal="id_filter_own" %}

    {% trans "Other groups haven't submitted this task yet." as empty_title %}
    {% trans "Wait for the other players to do something." as empty_subtitle %}
    {% trans "Submissions for this task from other groups" as table_heading %}
    {% include "tables/table_card.html" with table=tables.1 filter=filters.1 id_filter_modal="id_filter_other" %}

{% endblock specific_content %}
