{% extends "generic/object_detail.html" %}

{% block page-pretitle %}
    Task Detail
{% endblock page-pretitle %}

{% block object_buttons %}
    <a href="{% url "misterx:task-edit" object.id %}" class="btn btn-warning">Edit</a>
    <a href="{% url "misterx:task-delete" object.id %}" class="btn btn-danger">Delete</a>
{% endblock object_buttons %}

{% block specific_content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <strong>Task information</strong>
            </h3>
        </div>
        <div class="card-body">
            <div class="datagrid">
                <div class="datagrid-item">
                    <div class="datagrid-title">Task</div>
                    <div class="datagrid-content">{{ object.task }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Points</div>
                    <div class="datagrid-content">{{ object.points }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Solution</div>
                    <div class="datagrid-content">{{ object.solution }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock specific_content %}
