{% extends "generic/object_detail.html" %}

{% load i18n %}

{% block page-pretitle %}
    Task Detail
{% endblock page-pretitle %}

{% block object_buttons %}
    <a href="{% url "misterx:task-edit" object.id %}" class="btn btn-warning">Edit</a>
    <a href="{% url "misterx:task-delete" object.id %}" class="btn btn-danger">Delete</a>
{% endblock object_buttons %}

{% block specific_content %}
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="card-title">
                <strong>Task information</strong>
            </h3>
        </div>
        <div class="card-body">
            <div class="datagrid">
                <div class="datagrid-item">
                    <div class="datagrid-title">Task</div>
                    <div class="datagrid-content">{{ object.task }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Points</div>
                    <div class="datagrid-content">{{ object.points }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">Solution</div>
                    <div class="datagrid-content">{{ object.solution }}</div>
                </div>
            </div>
        </div>
    </div>

    {% trans "This task isn't assigned to any games yet." as empty_title %}
    {% trans "Assign it to a game to have it listed here." as empty_subtitle %}
    {% trans "Games with this task" as table_heading %}
    {% include "tables/table_card.html" with table=tables.0 filter=filters.0 id_filter_modal="id_filter_games" %}

    {% trans "No submissions for this task yet." as empty_title %}
    {% trans "Wait for the players to do something." as empty_subtitle %}
    {% trans "Submissions for this task" as table_heading %}
    {% include "tables/table_card.html" with table=tables.1 filter=filters.1 id_filter_modal="id_filter_submissions" %}

{% endblock specific_content %}
