{% extends "generic/object_detail.html" %}

{% load i18n %}

{% block page-pretitle %}
    {% trans "Submission Detail" %}
{% endblock page-pretitle %}

{% block specific_content %}
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="card-title">
                <strong>{% trans "Submission information" %}</strong>
            </h3>
        </div>
        <div class="card-body">
            <div class="datagrid">
                <div class="datagrid-item">
                    <div class="datagrid-title">{% trans "Task" %}</div>
                    <div class="datagrid-content">{{ object.task }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">{% trans "Time" %}</div>
                    <div class="datagrid-content">{{ object.time }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">{% trans "Accepted" %}</div>
                    <div class="datagrid-content">{{ object.accepted | yesno:"Yes,No,Not yet reviewed" }}</div>
                </div>
                <div class="datagrid-item">
                    <div class="datagrid-title">{% trans "Granted points" %}</div>
                    <div class="datagrid-content">{{ object.granted_points }}</div>
                </div>
            </div>
        </div>
    </div>

    {% if object.explanation %}
        <div class="card mb-4">
            <div class="card-header">
                <h3 class="card-title">
                    <strong>{% trans "Explanation" %}</strong>
                </h3>
            </div>
            <div class="card-body">
                {{ object.explanation }}
            </div>
        </div>
    {% endif %}

    {% trans "You have only submitted this task once." as empty_title %}
    {% trans "If we didn't accept it, submit it again." as empty_subtitle %}
    {% trans "Other Submissions by your group for this task" as table_heading %}
    {% include "tables/table_card.html" with id_filter_modal="id_filter_own" %}

{% endblock specific_content %}
